:root {
  --white: hsl(0, 0%, 100%);

  --slate300: hsl(212, 45%, 89%);
  --slate500: hsl(216, 15%, 48%);
  --slate900: hsl(218, 44%, 22%);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  background-color: var(--slate300);
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 15px;
}

p {
  font-weight: 400;
  margin-bottom: 15px;
}

img {
  width: 100%;
  height: auto;
}

.card {
  background-color: var(--white);
  width: 300px;
  padding: 15px;
  border-radius: 15px;
}

.card img {
  border-radius: 10px;
}

.cardBody {
  padding: 10px;
  text-align: center;
}

.cardBody h4 {
  color: var(--slate900);
  font-size: 22px;
}

.cardBody p {
  color: var(--slate500);
  font-size: 15px;
  margin-bottom: 0;
}

@media only screen and (max-width: 390px) {
  .card {
    width: 350px;
  }
}
